/* general */

@font-face {
	font-family: 'HelveticaNeueDeskInterface-Regular';
	src: url('../fonts/HelveticaNeueDeskInterface-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

* {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

*:focus {
	border: none;
	outline: none;
}

/* for index.html */

body {
	font-family: 'Exo 2', 'Arial', sans-serif;
	color: #fff;
	background-color: #000;
	margin: 0;
  padding: 0;
}

.container {
	position: relative;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
}

.hamburger-icon {
	position: absolute;
	top: 3rem;
	right: 3rem;
	cursor: pointer;
}

form[id='request'] h1 {
	font-weight: 300;
	margin-top: 0;
}

form[id='request'] fieldset {
	border: none;
}

.rectangle {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	padding: 0 1.5rem 0 1.5rem;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	background-color: #474747;
	border-radius: 4px;
	cursor: pointer;
}

.rectangle:hover {
	background-color: #373737;
}

input:checked + label.rectangle {
	background-color: #1F48E7;
}

input[type='radio'],
input[type='checkbox'] {
	display: none;
}

/* slider */

input[type='range'] {
	width: 200px;
	height: 32px;
	padding: 0;
	margin: 0;
  background-color: #000;
  border-radius: 2px;
}

/* webkit */

input[type='range'] {
	-webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
	height: 2px;
	background-color: rgba(255,255,255,0.6);
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: -16px;
	box-sizing: content-box;
	width: 32px;
  height: 32px;
  background-color: #1F48E7;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* moz */

input[type='range']::-moz-range-track {
	height: 2px;
	background-color: rgba(255,255,255,0.6);
}

input[type='range']::-moz-range-progress {
	background-color: #1F48E7;	
}

input[type='range']::-moz-range-thumb {
	width: 32px;
  height: 32px;
  background-color: #1F48E7;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* ie */

input[type='range']::-ms-track {
	height: 2px;
	border-color: transparent;
	color: transparent;
	background-color: #000;
}

input[type='range']::-ms-thumb {
  width: 32px;
  height: 32px;
  background-color: #1F48E7;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-ms-fill-lower {
  background-color: #1F48E7;
}

input[type='range']::-ms-fill-upper {  
  background-color: rgba(255,255,255,0.6);
}

input[type='range']::-ms-tooltip {
	display: none;
}

/* */

.output {
	height: 28px;
}

form[id='request'] textarea,
form[id='request'] input[type='text'],
form[id='request'] input[type='tel'] {
	color: inherit;
	background-color: inherit;
	border: none;
	outline: none;
	resize: none;
}

form[id='request'] input[type='file'] {
	color: inherit;
	background-color: inherit;
	border: none;
	outline: none;
	resize: none;
}

form[id='request'] button {
	color: inherit;
	border: none;
	outline: none;
}

.rectangle-big {
	width: 273px;
	height: 64px;
	background-color: #1F48E7;
}

.rectangle-big:hover {
	background-color: #2043CB;
}